@model IEnumerable<Product>

@foreach (var item in Model)
{
    <div class="col mb-5">
        <div class="card h-100">
            <a asp-action="Details" asp-route-ProductId="@item.Id"><img class="card-img-top" src="~/@item.Img" alt="..." width="450" height="300" /></a>
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">@item.Name</h5>
                    $@item.Price
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <a asp-action="Details" asp-route-ProductId="@item.Id" class="btn btn-outline-dark mt-auto">عرض التفاصيل</a>
                </div>
            </div>
        </div>
    </div>
}
