@{
    ViewBag.PageTitle = "إدارة المنتجات";
    ViewBag.CardTitle = "عرض المنتجات";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div>
    <a class="btn btn-primary" href="/Admin/Product/Create">إنشاء</a>
</div>

<br />
<table id="mytable" class="table table-hover" width="100%">
    <thead class="text-bold">
        <tr>
            <td>الاسم</td>
            <td>الوصف</td>
            <td>السعر</td>
            <td>الفئة</td>
            <td>الإجراءات</td>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/products.js"></script>
}
