@{
    ViewBag.PageTitle = "إدارة الطلبات";
    ViewBag.CardTitle = "عرض الطلبات";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<br />
<table id="mytable" class="table table-hover" width="100%">
    <thead>
        <tr>
            <td>رقم الطلب</td>
            <td>الاسم</td>
            <td>رقم الهاتف</td>
            <td>البريد الإلكتروني</td>
            <td>حالة الطلب</td>
            <td>الإجمالي</td>
            <td>الإجراءات</td>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/order.js"></script>
}
